body {
    background-color: #151515;
    margin: 0px;
}
#container {
    height: 100vh;
    display: flex;
    align-items: center;
}
#nettsider {
    margin-left: 70px;
    z-index: 2;
}
.nettside {
    color: white;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    text-decoration: none;
    padding: 15px;
    transition: 400ms ease;
}
#nettsider:hover > .nettside {
    opacity: 0.3;
}
#nettsider:hover > .nettside:hover {
    opacity: 1;
}
#bakgrunn {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: 800ms ease;
}
#nettsider:hover ~ #bakgrunn {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
#bakgrunnBilde {
    height: 100%;
    width: 100%;
    background-image: url(../images/bakgrunn-bilde.jpg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;
    transition: 800ms ease;
}
#nettsider:hover ~ #bakgrunnBilde {
    background-size: 100vmax;
    opacity: 0.10;
}
