body {
    background-color: #151515;
    margin: 0px;
}
#container {
    height: 100vh;
    display: flex;
    align-items: center;
}
#nettsider {
    margin-left: 70px;
    z-index: 2;
}
.nettside {
    color: white;
    font-size: 4rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: block;
    text-decoration: none;
    padding: 30px;
    transition: 400ms ease;
}
#nettsider:hover > .nettside {
    opacity: 0.3;
}
#nettsider:hover > .nettside:hover {
    opacity: 1;
}
#bakgrunn {
    height: 100vh;
    width: 100vw;
    background-image: radial-gradient(
        rgba(255, 255, 255, 0.1) 9%,
        transparent 9%
    );
    background-position: 0% 0%;
    background-size: 12vmin 12vmin;
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 1;
    transition: 800ms ease;
}
#nettsider:hover ~ #bakgrunn {
    background-size: 11vmin 11vmin;
    opacity: 0.5;
}
#container[data-active-index="0"] > #bakgrunn {
    background-position: 0% -25%;
}
#container[data-active-index="1"] > #bakgrunn {
    background-position: 0% -50%;
}
#container[data-active-index="2"] > #bakgrunn {
    background-position: 0% -75%;
}
#container[data-active-index="3"] > #bakgrunn {
    background-position: 0% -100%;
}
#bakgrunnBilde {
    height: 100%;
    width: 100%;
    background-image: url(images/bakgrunn-bilde.jpg);
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 0;
    background-position: center 40%;
    background-size: 110vmax;
    opacity: 0.15;
    transition: 800ms ease;
}
#nettsider:hover ~ #bakgrunnBilde {
    background-size: 100vmax;
    opacity: 0.10;
}
#container[data-active-index="0"] > #bakgrunnBilde {
    background-position: center 45%;
}
#container[data-active-index="1"] > #bakgrunnBilde {
    background-position: center 50%;
}
#container[data-active-index="2"] > #bakgrunnBilde {
    background-position: center 55%;
}
#container[data-active-index="3"] > #bakgrunnBilde {
    background-position: center 60%;
}
